*{
 margin: 0;
 padding: 0;
   background-color:#ffffff
}

.header{
  background:white;
  height: 20vh;
  width: 90%;
  padding:10px;
  border:4px;
  border-style:solid;
  border-color:black;
  margin:5px auto;
  
}
purp{
    background:purple;
    display: inline-block;
    height: 80%;
    width: 8%;
    margin-top:30px;
    
}
green{
    background:green;
    display: inline-block;
    height: 100%;
    width: 40%;
     margin-left:40px;
}
blue{
    display: inline-block;
    width:200px;
	height: 200px;
	background: blue;
	border-radius: 200px / 200px;
    margin-left:40px;
}
.main-content{
  background:white;
  height: 20vh;
  width: 90%;
  padding:10px;
  border:4px;
  border-style:dotted;
  border-color:black;
  margin:5px auto;
}
yellow{
    background:yellow;
    display: block;
    height: 90%;
    width: 90%;
    margin: auto auto;
    box-shadow: 10px 10px 5px #888888;
}
.hf{
  width: 50vw;
  height:30vh;
  background: white;
  border-style:solid;
  border-color:black;
  margin: 10vh auto;
  box-shadow: 10px 10px 5px #888888;
  text-align: center;
  letter-spacing: 5px;
  font-size: 22px;